@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading {
  color: #fff;
  text-transform: uppercase; }
.heading--primary {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.3rem;
  margin-bottom: 6rem; }
.heading--secondary {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.2rem;
  margin-bottom: 4rem; }
.heading--medium {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  margin-bottom: 4rem !important; }

@media screen and (max-width: 790px) {
  .heading--primary {
    font-size: 3rem;
    font-weight: 300;    
    margin-bottom: 4rem;
    letter-spacing: 1.2;
  }
  .heading--secondary {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.1rem;
  }
} 

.between-center {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex {
  display: flex; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

.self-right {
  margin-left: auto !important;
  display: block !important; }

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.center-position-parent {
  position: relative;
  width: 100%;
  height: 100%; }

.center-position-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%); }

.self-center {
  display: table;
  margin: 0 auto; }

.equal {
  flex: 1 1 auto; }

.full-width {
  width: 100%; }

.margin-top-md {
  margin-top: 1.5rem; }

.margin-top-lg {
  margin-top: 2rem; }

.margin-top-xlg {
  margin-top: 6rem; }

.margin-md {
  margin: 1.5rem; }

.inline-block {
  display: inline-block; }

@keyframes slideToRight {
  from {
    transform: translateX(-100%);
    display: block; }
  to {
    transform: translateX(0);
    display: block; } }

@keyframes slideToLeft {
  from {
    transform: translateX(0);
    display: block; }
  to {
    transform: translateX(-100%);
    display: block; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.close-button {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #28b485;
  color: white;
  font-size: 1.8rem;
  font-weight: 600; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: pink;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 6000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

@media screen and (max-width: 1080px) {
  .navigation__button {
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 2rem;
  
  } }
.navigation__background {  
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 4.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 5000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
@media screen and (max-width: 1080px) {
  .navigation__button {
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 2rem;  
  }
  .navigation__background {
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 2rem; 
  }
 }
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block; }
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s; }
.navigation__icon::before {
  top: -0.8rem; }
.navigation__icon::after {
  top: 0.8rem; }

@media screen and (max-width: 1080px) {
  .navigation__icon {
    margin-top: 2rem;
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
  }
  .navigation__icon::before {
    top: -0.5rem; }
  .navigation__icon::after {
    top: 0.5rem; }
  }
@media screen and (min-width: 1080px) {
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }

  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
}



.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(112, 230, 190, 0.8)), url(../images/header-background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }
.header__logo {
  height: 3.5rem; }
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.about-me {
  width: 100%;
  padding: 2rem;
  background-color: lightgray; }

.about {
  width: 100%;
  padding: 25rem 10rem 20rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skewY(-7deg);
  
  border-bottom: 12px solid #7ed56f; }
.about > * {
  transform: skewY(7deg); }
@media screen and (max-width: 1080px) {
  .about {
    align-items: start;
    padding: 23rem 9rem 20rem 9rem;
    height: 60rem;   
  }
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #7ed56f;
  font-size: 12rem;
  width: 8rem;
  height: 8rem;
  font-family: "Times New Roman", Times, serif; }
blockquote {
  font-weight: 100;
  font-size: 2.3rem;
  max-width: 900px;
  height: 210px;
  line-height: 1.6;
  position: relative;
  margin: 0;
  margin-top: -10rem;
  padding: .5rem;
  color: #29ac80;
  font-family: 'Tillana', cursive; 
}
blockquote:before {
  content: '“';
  left: -8rem;
  top: -5rem;  
  
}

blockquote:after {
  content: '”';
  right: -6rem;
  bottom: 0; 
}

@media screen and (max-width: 1460px) {
  .about {
    height: 35rem;
  }
  blockquote {
    font-size: 1.8rem;    
  }
  blockquote:before, blockquote:after {
    font-size: 8rem;
  }
  blockquote:before {
    left: -5rem;
    top: -3rem;
  }
  blockquote:after {
    right: -8rem;    
  }
}
@media screen and (max-width: 780px) {
  blockquote:before, blockquote:after {
    display: none;
  }
}
.technologies {
  width: 100%;
  padding: 8rem 2rem 20rem 2rem;
  display: flex; }
.technologies-heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #149b6e;
  text-transform: uppercase; }
@media screen and (max-width: 1080px) {
  .technologies-heading {
    font-size: 1.8rem;
    
    color: #149b6e;
    text-transform: uppercase; }
  }
.technologies-half {
  flex: 1;
  display: flex;
  flex-direction: column; }
.technologies-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: -1.5rem; 
  border-radius: 40%;
  padding: 0 2rem;
}
.technologies-row-top {
  margin-bottom: 0 !important; }
.technologies-type {
  width: 12rem;
  color: #0a835b;
  font-size: 2.2rem;
  font-weight: 700;
  display: flex;
  align-items: center; }
@media screen and (max-width: 1080px) {
  .technologies-type {
    width: 8rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .technologies-row {
    border-radius: 0%;
    border-bottom: 2px solid #0a835b;
    margin-top: 1rem;    
  }
}
.technologies-body {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
.technologies-col {
  width: 10rem; }

.technologies-more {
  font-size: 5rem;
  font-weight: 600; }
@media screen and (max-width: 1080px) {
  .technologies-more {
    font-size: 3rem;
  }
}
.projects {
  padding: 10rem 3rem;
  background-color: #b3ebaa;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: skewY(-7deg);
  margin-top: 5rem; 
}
.projects > * {
  transform: skewY(7deg); 
}
.credentials {
  display: inline-block;
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(245, 178, 178);
}
.emphasis {
  color: red;
}
.credentials > * {
  font-weight: 700;
  color: black;
}
@media screen and (max-width: 1080px) {
  .projects {    
    padding: 8rem 2rem;
  }
  .projects-description {
    font-size: 2rem;
  }
}


.projects-description {  
  margin-bottom: 4rem; 
  padding-right: 2rem; 
  padding-left: 2rem;
  font-size: 2.2rem;  
  font-weight: 500;
  color: black;   
}
.projects__container {  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
@media screen and (max-width: 1080px) {
  .projects__container {   
  }
  .projects-description {    
    text-align: center;    
    font-size: 1.4rem;
    font-weight: 400;
  }
}


@media screen and (max-width: 1460px) {
  .technologies {
    flex-direction: column; } }

.technology {
  margin: 1rem;
  backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
  background-color: white; }
.technology-big {
  width: 11rem;
  height: 11rem; }
.technology-small {
  width: 9rem;
  height: 9rem; }
.technology-tiny {
  width: 6rem;
  height: 6rem; }
.technology__text-big {
  font-size: 1.5rem;
  letter-spacing: 0 !important;
  font-weight: 600; }
.technology__text-small {
  font-size: 1.2rem;
  letter-spacing: 0 !important;
  font-weight: 600; }
.technology__text-tiny {
  font-size: 1rem;
  letter-spacing: 0 !important;
  font-weight: 600; }
  
.contact {
  padding: 15rem 0;   
}
.contact__container {
  width: 70%;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../images/valencia.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 5px 10px 8px #888888;
  height: 50rem; 
}
.contact__container-form {
  width: 50%;
  padding: 6rem; 
}
.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__heading {
  font-size: 2.5rem;
  color: #28b485;
  font-weight: 600;
  padding-bottom: 2rem; }
@media screen and (max-width: 1460px) {
  .form__heading {
    font-size: 2rem;
  }
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a; }
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730; }
.form__input::-webkit-input-placeholder {
  color: #999; }

.form__textarea {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 2rem;
  outline: none;
  border: none; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem; }
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.project-card {
  width: 30rem;
  height: 28rem;
  background-color: #e9e5e5;
  font-size: 1.5rem;
  margin: 1.5rem 1.5rem !important;
  border-radius: 6px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 5px 7px 6px #333333; }

.project-card__text {
  margin-top: 1.5rem; }
.project-card__heading {
  display: table;
  margin: 0 auto;
  color: #265c88;
  font-size: 2.2rem;
  font-weight: 800; }
.project-card__list {
  width: 100%;
  margin: 1.5rem 0.7rem;
  display: flex;
  margin-top: 4rem !important; }
.project-card__col {
  display: flex;
  flex: 1;
  flex-direction: column; }
.project-card__item {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1rem; }
.project-card__content {
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  overflow: hidden; }
.project-card__btn-container {
  transform: skewY(-7deg) translateY(2rem);
  height: 15rem;
  width: 100%;
  background-color: #42a5f5;
  display: flex;
  align-items: center;
  justify-content: center; }
.project-card__btn-container > * {
  transform: skewY(7deg); }
  

.project-card__btn {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  border-radius: 5px;
  color: white;
  background-color: #FF1493;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase; }
.project-card__btn:hover {
  color: white;
  background-color: #fd0087;

}
.project-card:hover {
  transform: translateY(-2px);
  box-shadow: 5px 10px 8px #4d4d4d; }


@media only screen and (max-width: 1460px) {
  .project-card {
    width: 45rem;
    height: auto;
    padding: 1rem; 
    box-shadow: 3px 5px 4px #333333;
  }
  .project-card__text {
    margin-top: 1.2rem; }
  .project-card__heading {    
    font-size: 2rem;
    font-weight: 600; }
  .project-card__list {    
    margin: 1.3rem 0.5rem;   
    margin-top: 3rem !important; 
    margin-bottom: -2rem;
  }
  
  .project-card__item {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem; }
  .project-card__content {   
    padding: 2.2rem;
  }
  .project-card__btn-container {   
    transform: skewY(-7deg) translateY(3.4rem) translateX(-1rem);
    height: 12rem;
    width: 110%;
  }  
  
  .project-card__btn {     
    margin-bottom: 0.8rem;
    border-radius: 3px;    
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  .project-card:hover {    
    box-shadow: 3px 5px 4px #333333; 
    transform: translateY(0);
  }

}



.moveright {
  margin-left: 1.5rem; }
.popup {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.popup-container {
  position: relative;     
}

.project-popup {
  
}
@media screen and (max-width: 1080px) {
  .project-popup {
    border-radius: 0;    
  }
}
.popup-content {
  display: none; }
.popup-content__display {
  display: block !important;
  z-index: 3000;
  position: fixed;
  left: 0;  
  top: 0;
  height: auto;
  background-color: #e6e6e6;
  animation: moveToRight 0.2s;
  animation-fill-mode: forwards;
  padding: 0 1rem 1rem 1rem;
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px;
  border: 3px solid rgb(29, 29, 29);  
 }

.popup-content__close {
  width: 100%;
  margin-top: 0.3rem; }


.popup-content__close-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 900;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  font-weight: 500;
  background-color: #c5ecbe;
  outline: none;
  border: none; }
  .popup-content__btns {
    display: flex;
    flex-direction: row;
       
  }
  .popup-content__btns--btn {
    margin-right: 5px;
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5b9b50;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 0.3rem;
    text-decoration: none; }
  .popup-content__btns--btn:hover {
    background-color: #67b15a; 
  }
  
  .popup-content__icons-container {
     
 
  }
  .popup-content__header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin-top: -1.5rem; }
  .popup-content__header-icons {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .popup-content__header-icons-moveleft {
    transform: translateX(-11rem); }
  .popup-content__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;     
  }
  .popup-content__description-title {
    width: 100%;
    padding-left: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 600;    
    color: #333; }
  .popup-content__description-text {
    
    font-size: 1.8rem;
    color: #4d4d4d; }
  
@media only screen and (max-width: 1150px) {
  .popup-content__description-text {
    width: 90%;
    font-size: 1.6rem;    
    text-align: center;
  }
  .popup-content__description-title {
    flex-direction: column;
  }
}    
  .popup-content__body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 2rem; }
  .popup-content__body-column {
    flex: 1;
    min-width: 40rem;
    background-color: #d9d9d9;
    margin: 1rem;
    height: 100%;
    border-radius: 10px;
    padding: 1rem; }
  .popup-content__body-column-heading {
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 1.5rem; }
  .popup-content__body-column-row {
    width: 100%;
    display: flex;
    margin-top: 1.5rem; }
  .popup-content__body-column-item {
    flex: 2;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2rem; }
  .popup-content__body-column-value {
    flex: 5;
    font-size: 1.5rem;
    font-weight: 500; }
  .popup-content__body-column-marker {
    font-weight: 600;
    font-style: italic; }
  .popup-content__body-column-space {
    height: 0.5rem; }

@media screen and (max-width: 600px) {
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before { 
    transform: rotate(0deg); 
  }

  .navigation__checkbox:checked + .navigation__button .navigation__icon::after { 
    transform: rotate(0deg); 
  }
  .about {
    transform: skewY(0deg);
  }
  .about > * {
    transform: skewY(0deg); 
  }
  .projects {     
    transform: skewY(0deg);  
    width: 100vw !important;    
  }
  .projects-description {
    padding-left: 1rem;
    padding-right: 1rem;    
  }
  .projects > * {
    transform: skewY(0deg); 
  }
  .project-card__btn-container {
    transform: skewY(0deg);
  }
  .project-card__btn-container > * {
    transform: skewY(0deg); 
  }
  .about {
    padding: 18rem 1rem 25rem 1rem;
  }
  .credentials {    
    font-size: 1.4rem;
    margin-top: 1rem;
    padding: 1rem;    
  }
  
  
}


@keyframes moveToRight {
  from {
    width: 0; }
  to {
    width: 90%; } }
@media screen and (max-width: 1080px) {
  @keyframes moveToRight {    
    to {
      width: 100%; } 
  }
}
@keyframes delayDisplay {
  from {
    display: none; }
  to {
    display: flex; } }



