$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tomato: #ff6347;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-dim-gray: #696969;

$color-white: #fff;
$color-black: #000;

$font-sm: 1.5rem;
$font-default: 1.8rem;
$font-text: 2.2rem;
$font-md: 2.5rem;

$font-family-text: 'Source Sans Pro', sans-serif;

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;

$shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
